/* Shared styles */

body {
	background-color: lightgrey;	
}
.menu a:visited {
	color: black;
}

.manage_showlist li, .preview_showlist li {
	margin-bottom: 15px;
	margin-right: 10px;
}

.manage_sidebar h2, .preview_sidebar h2 {
	text-align: center;
}

h1 {
	display: flex;
	justify-content: space-evenly;
	border: 4px solid;
	text-decoration: underline;
	font-size: 50px;
	margin: auto;
}

h1 :first-child {
	border-right: 4px solid;
	padding-right: 225px;
}

h2 {
	text-decoration: underline;
}

footer, header {
	background: rgb(255, 20, 20);
}

footer p{
	margin: auto;
	padding: 24.5px 5px 24.5px 5px;
}

footer {
	height: 67px;
}

/* Manage.html styles */

.manage_wrapper {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.manage_sidebar {
	display: flex;
	justify-content: left;
	flex-direction: column;
	border-right: 4px solid;
}

.manage_sidebar h2 {
	/* margin-left: 70px; */
	text-align: center;
}

.manage_showlist {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0px;
}

.manage_showlist li input:last-child{
	background: red;
	border-radius: 50%;
	margin-left: 10px;
}

.textfields div:nth-of-type(2) input {
	min: 1; 
	max: 5;
	width: 127px;
}

.manage_content h2 {
	margin-bottom: 20px;
	margin-left: 50px;
	
}

.manage_content {
	display: flex;
	justify-content: center;
	flex-direction: column;
    margin-right: 400px;
}

.textfields {
	margin-top: 30px;
	
}

.textfields * {
	margin-bottom: 10px;
}


.textfields div:nth-of-type(1) input {
	margin-left: 80.83px;
}

.textfields div label {
	font-size: 30px;
}

.textfields div:nth-of-type(2) input{
	margin-left: 72.45px;
}

.textfields div:nth-of-type(3) input {
	margin-left: 10px;
}

.textfields input {
	margin-left: 90px;
}


/* preview.html styles */

.preview_wrapper {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.preview_sidebar {
	display: flex;
	justify-content: left;
	flex-direction: column;
	height: auto;
	border-right: 4px solid;
	width: auto;
}

.preview_showlist {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0px;
}

.preview_content_left img {
	width: 691.2px;
	height: 440px; 
}

.preview_content_left {
	display: flex;
	flex-direction: column;
	height: 1000px;
	
	
}

.preview_content_right {
	margin-right: 80px;
	
}


